@media only screen and (max-width: 600px) {


  .archive {
    display: inline-block;
    font-family: 'Helvetica', sans-serif;
    font-size: 40px;
    position: fixed;
    top: 2vh;
    left: 2vw;
    background-color: black;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
  }

  img {
    display: inline-block;
    max-width: 100%;
    padding-bottom: 10px;
  }

  .time {
    display: block;
    font-family: 'Helvetica', sans-serif;
    font-size: 450px;
    font-weight: lighter;
    text-align: center;
    padding-bottom: 10px;
  }

  a {
    text-decoration: none;
    color: white;
  }

  a:visited {
    color: white;
  }

}
