.letter-definition {
	display: none;
}

.box {
  font-family: sans-serif;
  font-size: 3.5em;
  -webkit-text-stroke: 1px black;
  color: white;
  font-weight: bold;
}

.letter {
  width: 242px;
  height: 480px;
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 15px;
}

.box {
  width: 22px;
  height: 28px;
  float: left;
}

#text-input {
  position: fixed;
	left: 0.5em;
  bottom: 0.5em;
	font-size: 3em;
}

.word {
  font-family: sans-serif;
  font-size: 1.4em;
  color: black;
  font-weight: bold;
}
